.app {
  display: flex;
  flex-direction: row;
  background-image: url('../src/assets/COVER.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh; 
  margin: 0;
  padding: 0;
}

.tasks-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  padding: 20px;
}


@media (max-width: 768px) {
  .app {
    background-size: 100% 100%; 
  }

  .tasks-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
